[viewBag]
snippetCode = "benefits"
snippetName = "Benefits"
==
<div class="benefits">
    <h3>Benefits</h3>
    <p>Comfortable fuelling</p>
    <p>Quick and clean fuelling</p>
    <p>Economical misfuelling prevention cap</p>
    <p>SoloDiesel also protects the environment</p>
    <p>Insurance companies reimburse for only a part of costs</p>
    {#<p>Physically prevents misfuelling</p>
    <p>Saves money &amp; trouble</p>
    <p>Easy to install &amp; faster fuelling</p>
    <p>Complies to all EEC standards</p>
    <p>Potentially lower insurance premiums</p>
    <p>Environmental benefits...no waste &amp; no contamination</p>#}
</div>