[viewBag]
snippetCode = "slider"
snippetName = "Slider"
==
{#<div class="slider test">
    {% for slides in slider %}
        {<div class="slide" data-img="{{ slides.slide|media }}" style="background: url('{{ slides.slide|media }}'); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;">
            <div class="slide-text">
                <h3>{{ slides.slidercaption|raw }}</h3>
            </div>
        </div>
    {% endfor %}
</div>#}
<div class="slide">

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for slides in slider %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}"{% if loop.index == 1 %} class="active"{% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for slides in slider %}
                <div class="carousel-item{% if loop.index == 1 %} active{% endif %}" style="background-image: url('{{ slides.slide|media }}')">
                    <div class="container carousel-caption d-none d-md-block text-left">
                        {% if slides.slidercaption %}<h3>{{ slides.slidercaption|raw }}</h3>{% endif %}
                        {#<p class="lead"></p>#}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>