.DS_Store
*.log
*.psd
*.PSD
storage/
storage/*
storage/cms/disabled.json
storage/cms/cache/*
storage/framework/classes.php
storage/framework/cache/*
storage/temp/public/*
storage/cms/twig/*
storage/cms/*
storage/framework/sessions
storage/framework/*
storage/
storage/*
plugins/
plugins/*
vendor/
vendor/*
modules/
modules/*
.vscode/settings.json