description = "Home"

[staticPage]
useContent = 1
default = 0
==
<!DOCTYPE html>
<html lang="en">
  <head>
    {% partial 'head' %}
  </head>
  <body>
    <header>
        {% partial 'navbar' %}
  
        {repeater name="slider" label="Slider" prompt="Add another content section" tab="Slider"}
          {variable name="slidercaption" label="Slider Caption" type="richeditor" size="small"}{/variable}
          {variable name="slide" label="Image" type="mediafinder" mode="image"}{/variable}
        {/repeater}
        <br><br><br><br><br><br>
        <div class="container">
          <div class="row d-flex align-content-stretch flex-wrap">            
            <div class="col-12 col-lg-7">
              {% partial 'slider' %}
            </div>
            <div class="col-12 col-lg-5 bnftcnt">
              {% partial 'benefits' %}
            </div>
          </div>
        </div>
      </header>

    <section id="page">

      <div class="container">
        {% page %}
      </div>

    </section>

    <footer>
      {% partial 'footer' %}
    </footer>

    {% partial 'scripts' %}
    
  </body>
</html>